{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Event</h1>
      {{ app.request.host }}
     {{  app.session.get('some_key') }}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input id="create" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
